<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">채세현</h1>
        <p>
          한국교통대학교 재학 중인 컴퓨터공학과 3학년이다. 
          현재 1학기 마지막 시험인 기말고사를 준비 중이며
          빨리 끝났으면 하는 마음과 
          기말고사가 오지 않았으면 하는 마음이 공존해서 심란한 상태이다.

          하지만 기말고사가 끝나고 오는 종강을 매우 기대하고 있다.
        </p>
      </div>
    </div>
  </div>
</main>
